<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>429574310307-rr5mv6u696r6r32qke2cqv6g9t2bdarl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.429574310307-rr5mv6u696r6r32qke2cqv6g9t2bdarl</string>
	<key>API_KEY</key>
	<string>AIzaSyB-br58bruoM1QfyKo84xlY8tmbMBm-RmE</string>
	<key>GCM_SENDER_ID</key>
	<string>429574310307</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.FindlayWood.InTheGym</string>
	<key>PROJECT_ID</key>
	<string>inthegym-2353b</string>
	<key>STORAGE_BUCKET</key>
	<string>inthegym-2353b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:429574310307:ios:399fcb7e1fd60a32</string>
	<key>DATABASE_URL</key>
	<string>https://inthegym-2353b.firebaseio.com</string>
</dict>
</plist>